<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Servicios</h1>
      <p class="lead fw-normal text-muted mb-0"></p>
    </div>
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="position-relative mb-5">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/configuracion.jpg" alt="configuracion" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Instalación y configuración</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/mantenimiento.jpg" alt="manto" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Mantenimiento</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/refrigeracion.jpg" alt="refrigeracion" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Refrigeración componentes electrónicos</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/electronica.jpg" alt="electronica" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Electrónica</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
    <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
  </div>
</section>
