<!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Servicios</h1>
      <p class="lead fw-normal text-muted mb-0"></p>
    </div>
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="position-relative mb-5">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/configuracion.jpg" alt="configuracion" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" >Instalación y configuración</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/mantenimiento.jpg" alt="manto" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" >Mantenimiento</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative mb-5 mb-lg-0">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/refrigeracion.jpg" alt="refrigeracion" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link">Refrigeración componentes electrónicos</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="position-relative">
          <img class="img-fluid rounded-3 mb-3" src="img/servicios/electronica.jpg" alt="electronica" />
          <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" >Electrónica</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-2">

  <div class="container px-5 my-5">
    <div class="row m-2 text-center">
      <h2 class="fw-bolder">Configuración de sistema operativo,utilidades y drivers.</h2>
    </div>


  <div class="row">
    <div class="col-lg-6">
      <div class="position-relative">
        <img class="img-fluid img-thumbnail rounded-3 mb-3 h-50" src="img/servicios/sistema.jpg" alt="so" />
        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link">Sistema operativo</a>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="position-relative">
        <img class="img-fluid rounded-3 mb-3 h-50 img-thumbnail" src="img/servicios/controladores2.jpg" alt="drivers" />
        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link">Controladores.</a>
      </div>
    </div>

  </div>

  </div>
</section>

