<header class="bg-light py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder  mb-2">Mantenimiento preventivo y correctivo de computadores</h1>
          <p class="lead fw-normal text-white-50 mb-4">Especialista en soporte técnico a diferentes tipos de equipos de cómputo. En nuestro sitio encontraras información relacionada con este tema y la importancia de mantener en buenas condiciones nuestras computadoras portátiles y de escritorio.</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-primary  px-4 me-sm-3" href="#features">Procedimientos realizados</a>
            <a class="btn btn-secondary  px-4" href="#ubicacion">Ubicacion-Cali-Valle</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 col-sm-2 col-md-4 d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="img/inicio/asus-m110.jpg" alt="asus m110" /></div>
    </div>
  </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Procedimientos realizados.</h2></div>
      <div class="col-lg-8">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
          <div class="col mb-5 h-100">
            <div class="feature bg-primary bg-gradient text-white  rounded-3 mb-3"><i class="bi bi-collection"></i> <span class="m-2">Paso 1</span></div>
            <h2 class="h5">Revisión y diagnóstico.</h2>
            <p class="mb-0">En este paso se realiza una entrevista con el cliente posterior a esto se realiza una inspección del equipo de cómputo y se determina la acción siguiente a realizar.</p>
          </div>
          <div class="col mb-5 h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i><span class="m-2">Paso 2</span></div>
            <h2 class="h5">Informe detallado</h2>
            <p class="mb-0">Se comunica al cliente todos los detalles de las operaciones que se deben realizar al equipo como por ejemplo: Mantenimiento y limpieza, instalación de repuestos. El costo total del servicio, en caso de ser aprobado se continua con la operación, en caso contrario solo se cobrara los costos del diagnóstico. </p>
          </div>
          <div class="col mb-5 mb-md-0 h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i><span class="m-2">Paso 3</span></div>
            <h2 class="h5">Entrega del equipo</h2>
            <p class="mb-0">Se realiza la entrega del equipo de cómputo luego de realizar todas las pruebas de funcionamiento.</p>
          </div>
          <div class="col h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i><span class="m-2">Paso 4</span></div>
            <h2 class="h5">Recomendaciones y garantia</h2>
            <p class="mb-0">Se indica al cliente todos los detalles referentes al equipo, se ingresa al sistema y se informa los detalles de la garantía.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ubicación section-->
<section class="py-5" id="ubicacion">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
          <h3 class="fw-bolder">Estamos ubicados en la ciudad de Cali.</h3>
          <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m20!1m8!1m3!1d22529.587885355068!2d-76.52526664868554!3d3.42159362266708!3m2!1i1024!2i768!4f13.1!4m9!3e3!4m3!3m2!1d3.4335644999999997!2d-76.5141374!4m3!3m2!1d3.4334479!2d-76.5140918!5e0!3m2!1ses-419!2sco!4v1719035799425!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>

