<!-- Header-->
<header class="py-5">
  <div class="container px-5">

    <div class="row justify-content-center">
      <div class="col-lg-4 my-4">

        <div class="mb-5 mb-5 mb-sm-0 ">
          <div class="text-center">
            <img class="img-fluid  rounded-circle  mb-4 px-4 " src="img/foto-epv.png" alt="epv" />
            <h5 class="fw-bolder">Edwin Stive Parrales Vargas</h5>
            <div class="fst-italic ">Tecnólogo en sistemas</div>
          </div>
        </div>
      </div>


      <div class="col-lg-8 col-xxl-6">
        <div class="text-center my-5">
          <h1 class="fw-bolder mb-3">Tecnólogo en sistemas y redes de computadores.</h1>
          <p class="lead fw-normal  mb-4">Cuento con más de cuatro años de experiencia realizando mantenimiento preventivo y correctivo a dispositivos informáticos.</p>
          <p></p>

        </div>
      </div>
    </div>
  </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/about/mantenimientopc.jpg" alt="..." /></div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Mantenimiento y reparación de computadoras</h2>
        <p class="lead fw-normal text-muted mb-0">Diagnóstico de diferentes tipos de fallas. ensamble de equipos, actualización de hardware y software, configuración de controladores.

          En la instalación del sistema operativo se determina la versión del sistema más adecuada para el equipo teniendo en cuenta sus características de hardware, los requerimientos del usuario y la seguridad.</p>
      </div>
    </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/about/redlan.jpg" alt="..." /></div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Configuración de entornos de red.</h2>
        <p class="lead fw-normal text-muted mb-0">En ocasiones se requiere la conectividad de varios dispositivos en red, como por ejemplo impresoras de red, routers o AP o recursos compartidos. En estos casos es muy importante implementar las soluciones más adecuadas para el cliente.</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light" id="">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/about/logosjava.jpg" alt="..." /></div>
      <div class="col-lg-6">
        <h2 class="fw-bolder">Programador de software.</h2>
        <p class="lead fw-normal text-muted mb-0">Desarrollo de aplicaciones web con java , framework spring - springboot , javascript,php.

          También conocimientos básicos en HTML, CSS y manejo de bases de datos relacionales como por ejemplo: mysql server, oracle y microsoft sql server</p>
      </div>
    </div>
  </div>
</section>
